@model IQueryable<polozi_ba.Data.PretragaModel>


<div class="row">
    <div class="col-md-6">
        @foreach (var item in Model)
        {

            <label>Korisnik</label>
            <p>@item.Email</p>
            <label>Naziv grada</label>
            <p>@item.NazivGrada</p>
            <label>Naziv predmeta</label>
            <p>@item.NazivPredmeta</p>
            <hr />

        }

    </div>

    @if (Model == null)
    {
        <div class="col-md-6">
            trenutno nemamo instruktora iz tog predmeta u tom gradu
        </div>
    }
</div>
